.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}
.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}
.slider .social-icon a {
  margin: 0 3px;
}
.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}
section.testimonials {
  overflow: hidden;
}
.contact-page .pages-header {
  overflow: hidden;
}
.CircularProgressbar {
  width: 110px;
  height: 110px;
}
.slick-prev,
.slick-next {
  display: none !important;
}
body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}
.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}
.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}

.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}
.topnav .menu-icon {
  display: flex;
}
@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }
  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}
section.next-prog {
  overflow: hidden;
}
.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}
section.team.section-padding {
  overflow: hidden;
}

.text-justify {
  text-align: justify !important;
}

.services .item {
  height: 100%;
}

.cta-button {
  align-self: center;
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 4rem;
}

.table-wrapper {
  overflow-x: auto;
}

table th,
td {
  padding: 15px;
  font-size: 0.85rem;
  text-align: left;
}

.privacy-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  box-shadow: 0 2px 2px rgb(0 0 0 / 50%);
}

@media screen and (max-width: 991px) {
  table th,
  td {
    padding: 5px;
    font-size: 0.7rem;
    text-align: left;
    white-space: nowrap;
  }
}

@keyframes dot {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
}

.loading-dots {
  display: inline-block;
  text-align: center;
}

.loading-dots span {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 5px;
  margin-top: 16px;
  background: #999;
  border-radius: 50%;
  animation: dot 0.8s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: -0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: -0.4s;
}

.form-select {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  background-color: transparent;
  border-color: #aaabad;
  padding: 0.5rem;
  box-shadow: var(--bs-box-shadow-inset);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:disabled {
  color: null;
  background: #e9ecef;
  border-color: #ced4da;
}

.form-select * {
  color: black;
}

input[type='file']::file-selector-button {
  border: 1px solid #c384fc;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #9333ea;
  transition: 1s;
}

input[type='file']::file-selector-button:hover {
  background-color: #7c22ce;
}
