.loadingDots {
	display: inline-block;
	text-align: center;
}

.loadingDots span {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 5px;
    margin-top: 16px;
	background: #999;
	border-radius: 50%;
	animation: dot .8s infinite;
}

.loadingDots span:nth-child(2) {
	animation-delay: -0.2s;
}

.loadingDots span:nth-child(3) {
	animation-delay: -0.4s;
}
